node_modules
.env
client-0.0.5.jar
weather.db
.idea/
*.iml
weather
ambient-weather
ambient-weather.exe
weather-notify.exe
ambient.sql
bfg-1.13.2.jar
.DS_Store
/dist
image.png

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.iml
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
weather-notify/weather-notify
weather-server/ambient-weather
