before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin

stages:
  - scan
  - build docker

ui:
  stage: build docker
  script:
    - cd weather-ui
    - docker build -t $DOCKER_REGISTRY/weather/weather-ui:v3.0.4 .
    - docker push $DOCKER_REGISTRY/weather/weather-ui:v3.0.4


server:
  stage: build docker
  script:
    - cd weather-server
    - docker build -t $DOCKER_REGISTRY/weather/weather-server:v4.0.5 . --no-cache
    - docker push $DOCKER_REGISTRY/weather/weather-server:v4.0.5

transfer:
  stage: build docker
  script:
    - cd weather-transfer
    - docker build -t $DOCKER_REGISTRY/weather/weather-transfer:2.1.2 . --no-cache
    - docker push $DOCKER_REGISTRY/weather/weather-transfer:2.1.2


