package main

import "fmt"


func setStyle(box BoxProps, template string) templ.Attributes {
    ret := templ.Attributes{}
    if _, ok := box.Style[template]; ok {
        ret =  templ.Attributes{"style": box.Style[template]}
    }
    return ret
}


templ Box(template string, box BoxProps, contents templ.Component) {
    <div class="box-container" { setStyle(box, template)... }>
        <div class="box-grid">
            <div class="icon">
                <div class="header-icon"><i class={fmt.Sprintf("%s %s", "fa-solid", box.Icon )}></i> &nbsp;<span class="header-text">{ box.Title }</span></div>
            </div>
            <div class="scale">@templ.Raw(box.Unit)</div>
            <div class="content">
                @contents
            </div>
        </div>
    </div>
}