package main


templ Humidity(data TemplateData) {
    <div class="humidity-container">
        <div class="humidity-wrap">
            <div class={ cssToString("humidity-text", humidityClass(data.Record.Dewpoint)) }>
                { toString(data.Record.Humidity) }%
            </div>
            <div class="dewpoint">Dewpoint:&nbsp;
                <span class={ dewPointClass(data.Record.Dewpoint)}>
                    { toString(toFixed(data.Record.Dewpoint, 0)) }&deg;
                </span>
            </div>
        </div>
        <div class="humiditymax">Max: {tempDisplay(data.Minmax["humidity"]["max"]["day"].Value, data.Units)}%</div>
        <div class="humiditymin">Min: {tempDisplay(data.Minmax["humidity"]["min"]["day"].Value, data.Units)}%</div>
    </div>
}