package main

import (
    "fmt"
    "time"
 )

templ Lightning(data TemplateData) {
    <div class="lightning-container">
        <div class="laststrike"><span class="lightning-yellow">Last Strike:</span> { data.Record.Lightningtime.Format(time.DateTime) }</div>
        <div class="lhour">
            <div class="lightning-yellow">Hour:</div>
            <div class={ fmt.Sprintf("%s %s","lightning-value", lightningClass(data.Record.Lightninghour))}>
                { fmt.Sprintf("%d",data.Record.Lightninghour) }
            </div>
        </div>
        <div class="lday">
            <div class="lightning-yellow">Day:</div>
            <div class={ fmt.Sprintf("%s %s","lightning-value", lightningClass(data.Record.Lightningday))}>
                { fmt.Sprintf("%d",data.Record.Lightningday) }
            </div>
        </div>
        <div class="lyesterday">
            <div class="lightning-yellow">Yesterday:</div>
            <div class={ fmt.Sprintf("%s %s","lightning-value", lightningClass(int(data.Minmax["lightning"]["max"]["yesterday"].Value)))}>
                { fmt.Sprintf("%.f", data.Minmax["lightning"]["max"]["yesterday"].Value) }
            </div>
        </div>
        <div class="lmonth">
            <div class="lightning-yellow">{ month(data.Record.Recorded) }:</div>
            <div class={ fmt.Sprintf("%s %s","lightning-value", lightningClass(int(data.Minmax["lightning"]["max"]["yesterday"].Value)))}>
                { fmt.Sprintf("%.f", data.Minmax["lightning"]["max"]["yesterday"].Value) }
            </div>
        </div>
         <div class="lastd">
            <div class="lightning-yellow">Distance</div>
            <div class={ fmt.Sprintf("%s %s","lightning-value", distanceClass(int(data.Record.Lightningdistance)))}>
                { fmt.Sprintf("%.f", data.Record.Lightningdistance) }
            </div>
        </div>
        <div class="lyear">
            <div class="lightning-yellow">{ year(data.Record.Recorded) }:</div>
            <div class={ fmt.Sprintf("%s %s","lightning-value", lightningClass(int(data.Minmax["lightning"]["max"]["year"].Value)))}>
                { fmt.Sprintf("%.f", data.Minmax["lightning"]["max"]["year"].Value) }
            </div>
        </div>
    </div>
}