package main

import (
    "fmt"
)


templ temperature(data TemplateData) {
    <div class="temp-container">
        <div class="icon">
            <img alt={ getConditions(data.Forecast) } src={ getIcon("clear-day")} />
        </div>
        <div class="temp">
            <div class={ cssToString("temp-text", tempColor(data.Record.Tempf)) }>{ tempDisplay(data.Record.Tempf, data.Units) }°</div>
            <div class="feels">Feels: <span class={ cssToString("", tempColor(data.Record.Feelslike)) }>{ tempDisplay(data.Record.Feelslike, data.Units) }&deg;</span></div>
        </div>
        <div class="max">Max: <span class={ fmt.Sprintf("%s", tempColor(data.Minmax["tempf"]["max"]["day"].Value))}>{ tempDisplay(data.Minmax["tempf"]["max"]["day"].Value, data.Units) }°</span></div>
        <div class="min">Min: <span class={ fmt.Sprintf("%s", tempColor(data.Minmax["tempf"]["min"]["day"].Value))}>{ tempDisplay(data.Minmax["tempf"]["min"]["day"].Value, data.Units) }°</span></div>
    </div>
}

func pillSlected(pill string, t string) string {
    if pill == t {
        return "pill-selected"
    }
    return ""
}

