.weather34box {
  .clock {
    background-repeat: no-repeat;
    background-position: left 10px bottom 18px;
    color: #fff
  }

  .clock span {
    color: silver;
    font-weight: 500
  }

  .clock titlespan {
    color: #90b12a;
    font-weight: 500
  }
}

.weather34clock {
  display: inline;
}

.weatherclock34 {
  position: absolute;
  margin: 20px auto 0;
  top:-15px;
  left: 20px;
  font-size: .7rem;
  color: silver;
  font-family: weathertext2, sans-serif;
  text-align: center;
  width: 200px;
  padding: 5px;
  line-height: 18px;

}

.orangeclock {
  background: rgba(205, 82, 69, .8);
  padding: 2px;
  color: #fff;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 6.5rem;
  height: 1.25rem;
  text-align: center;
  margin-left: 40px;
  margin-top: 3px;
  font-size: .9rem;
  font-family: clock, sans-serif;
}

.calendar34 {
  position: absolute;
  top:0;
  color: rgba(230, 232, 239, .2)
}

.orange {
  color: #ff7c39
}
