{% set bdata = box.aqi %}
{% set aqi24h = pm25_to_aqi(weather.aqipm2524h) %}
{% set aqi = pm25_to_aqi(weather.aqipm25) %}
{% set aqi_max = pm25_to_aqi(minmax["aqipm25"]["max"]["day"].value) %}
{% set aqi_min = pm25_to_aqi(minmax["aqipm25"]["min"]["day"].value) %}
{% extends 'application/box.html' %}

{% block boxinfo %}
<div class="aqi-container">
    <div class="aqi-wrap">
        <div class="aqi-text {{ get_aqi_category(aqi24h)['color'] }}">
            {{ aqi }}
        </div>
        <div class="status">
            <div>{{ get_aqi_category(aqi24h)['name'] }}</div>
            <div>{{ aqi }} µg/m3</div>
        </div>
    </div>
    <div class="aqimax">
        Max: <span class="{{ get_aqi_category(aqi_max)['color'] }}"">
                {{ aqi_max }}</span>
    </div>
    <div class="aqimin">
        Min: <span class={{ get_aqi_category(aqi_min)['color'] }}>
                {{ aqi_min}}</span>
    </div>
</div>
{% endblock %}