{% set bdata = box.forecast %}
{% extends 'application/box.html' %}

{% block boxinfo %}
{% for day in forecast['days'][1:7] %}
    <div class="forecast-wrap">
        <span>{{ get_day(day.datetime) }}</span>
        <div class="forecast-container">
            <div class="forecast-icon"><img alt="day.conditions" src="/static/images/icons/{{ day.icon }}.png"></div>
            <div class="forecast-max {{ temp_color(day.tempmax) }}">{{ temp_display(day.tempmax, Units) }}</div>
            <div class="forecast-min {{ temp_color(day.tempmin) }}">{{ temp_display(day.tempmin, units) }}</div>
        </div>
    </div>
{% endfor %}
{% endblock %}