{% set bdata = box.sun %}
{% extends 'application/box.html' %}

{% block boxinfo %}
<div class="sun-container">
    <div class="daylight">
        <div>
            <span class="riseclr">
                {{ light_dark(astro.daylight,"hours") }} hrs {{ light_dark(astro.daylight,"min") }} min
            </span>
        </div>
        <div>Total Daylight</div>
    </div>
    <div class="darkness">
        <div>
            <span class="setclr">
                {{ light_dark(astro.darkness,"hours") }} hrs {{ light_dark(astro.darkness, "min") }} min
            </span>
        </div>
        <div>Total Darkness</div>
    </div>
    <div class="remaining">
        <div class="daylightvalue1">
            <div>{{ is_sun_set(astro) }}</div>
            <div><span class={{rise_set_class(astro)}}>{{ sun_times(astro)['hour'] }}</span>&nbsp;hrs&nbsp;
                <span class={{rise_set_class(astro)}}>{{  sun_times(astro)['min'] }}</span> min</div>
        </div>
    </div>
    <div class="rise">
        <div>Sun Rise</div>
        <div>{{ today_tomorrow("sunrise", astro) }}</div>
        <div class="riseclr">{{ time_format(astro.sunrise) }}</div>
    </div>
    <div class="set">
        <div>Sun Set</div>
        <div>{{ today_tomorrow("sunset", astro) }}</div>
        <div class="setclr">{{ time_format(astro.sunset) }}</div>
    </div>
    <div class="elevation">
        <div>Elevation:</div>
        <div class={{ sun_below(astro)}}>{{ astro.elevation }}</div>
    </div>
</div>
{% endblock %}