{% set bdata = box.temperature %}
{% extends 'application/box.html' %}

{% block boxinfo %}
    <div class="temp-container">
        <div class="icon">
           <img alt="{{ get_conditions(forecast) }}" src="/static/images/icons/{{ get_icon(forecast) }}.png" />
        </div>
        <div class="temp">
            <div class="temp-text {{ temp_color(weather.tempf) }}">{{ temp_display(weather.tempf,units) }}°</div>
        <div class="feels">Feels: <span class="{{ temp_color(weather.feelslike) }}">
            {{ temp_display(weather.feelslike, units) }}&deg;</span></div>
    </div>
    <div class="max">Max: <span class="{{ temp_color(minmax['tempf']['max']['day']['value']) }}">{{ temp_display(minmax["tempf"]["max"]["day"]["value"], Units) }}°</span></div>
    <div class="min">Min: <span class="{{ temp_color(minmax['tempf']['min']['day']['value']) }}">{{ temp_display(minmax["tempf"]["min"]["day"]["value"], Units) }}°</span></div>
    </div>
{% endblock %}