{% set bdata = box['temp' + tempin] %}
{% extends 'application/box.html' %}
{% block boxinfo %}
<div class="tempin-container">
    <div class="tempin">
        <div class="tempin-text {{ temp_color(get_field_value(weather,"temp"+tempin+"f")) }}">
        {{ temp_display(get_field_value(weather, "temp"+tempin+"f"), units)}}&deg;</div>
    <div class="feels">Humidity:&nbsp;
        <span class={{ humidity_class(get_field_value(weather, "humidity"+tempin))}}>
                    {{ get_field_value(weather, "humidity"+tempin) }}%
                </span>
    </div>
</div>
<div class="maxin">Max: <span class={{ temp_color(minmax["temp"+tempin+"f"]["max"]["day"].value) }}>{{ temp_display(minmax["temp"+tempin+"f"]["max"]["day"].value, units) }}&deg;</span></div>
<div class="minin">Min: <span class={{ temp_color(minmax["temp"+tempin+"f"]["min"]["day"].value) }}>{{ temp_display(minmax["temp"+tempin+"f"]["min"]["day"].value, units) }}&deg;</span></div>
</div>
{% endblock %}