package main


templ Barometer(data TemplateData) {
    <div class="barometer-container">
        <div class="barometer-wrap">
            <div class="barometer-text">
                { baroDisplay(data.Record.Baromrelin, data.Units) }&nbsp;
                <span class="units"> { baroLabel(data.Units) }</span>
            </div>
            <div> { data.bTrend.Trend } </div>
        </div>
        <div class="barometermax">Max: { baroDisplay(data.Minmax["baromrelin"]["max"]["day"].Value, data.Units)}&nbsp;{ baroLabel(data.Units) }</div>
        <div class="barometermin">Min: { baroDisplay(data.Minmax["baromrelin"]["max"]["day"].Value, data.Units)}&nbsp;{ baroLabel(data.Units) }</div>
    </div>
}