package main

func getTime(part string, luna Astro) string {
    p := sunTimes(luna)
    return p[part]
}


templ Sun(data TemplateData) {
    <div class="sun-container">
        <div class="daylight">
            <div><span class="riseclr">{ lightDark(data.Astro.Daylight) }</span></div>
            <div>Total Daylight</div>
        </div>
        <div class="darkness">
            <div>
                <span class="setclr">{lightDark(data.Astro.Darkness) }</span>
            </div>
            <div>Total Darkness</div>
        </div>
        <div class="remaining">
            <div class="daylightvalue1">
                <div>{ isSunSet(data.Astro) }</div>
                <div><span class={riseSetClass(data.Astro)}>{ getTime("hour", data.Astro) }</span>&nbsp;hrs&nbsp;
                    <span class={riseSetClass(data.Astro)}>{  getTime("min", data.Astro) }</span> min</div>
            </div>
        </div>
        <div class="rise">
            <div>Sun Rise</div>
            <div>{ todayTomorrow("sunrise", data.Astro)}</div>
            <div class="riseclr">{ timeFormat(data.Astro.Sunrise) }</div>
        </div>
        <div class="set">
            <div>Sun Set</div>
            <div>{ todayTomorrow("sunset", data.Astro) }</div>
            <div class="setclr">{ timeFormat(data.Astro.Sunset) }</div>
        </div>
        <div class="elevation">
            <div>Elevation:</div>
            <div class={sunBelow(data.Astro)}>{ toString(toFixed(data.Astro.Elevation,2)) }</div>
        </div>
    </div>
}