<head>
    <meta charset="utf-8" />
    <meta http-equiv="Default-Style" content="blue" />
    <meta content="Ambient WS-2000 Weather station" name="description" />
    <meta content="website" property="og:type" />
    <meta content="7 days" name="revisit-after" />
    <meta content="web" name="distribution" />
    <meta content="Lorson Ranch, Colorado Springs, CO" property="og:title" />
    <meta content="Lorson Ranch, Colorado Springs, CO" property="og:site_name" />
    <meta content="Ambient WS-2000 Weather station Lorson Ranch, Colorado Springs, CO" property="og:description" />
    <meta content="place" property="og:type" />
    <meta content="INDEX,FOLLOW" name="robots" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Lorson Ranch, Colorado Springs, CO" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, viewport-fit=cover" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon.ico" />

    <title>Weather Lorson Ranch, Colorado Springs</title>
    <link rel="stylesheet" href="/static/css/index.css?ts={{ now.timestamp() }}" />
    <link href="/static/css/fontawesome.css" rel="stylesheet" />
    <link href="/static/css/solid.min.css" rel="stylesheet" />
    <script src="/static/js/htmx.js"></script>
    <script src="/static/js/ws.js"></script>
    <script src="/static/js/weather.js"></script>
    <script src="/static/js/echarts.min.js"></script>
</head>