.aqi-container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "aqi-wrap aqi-wrap"
    "aqimax aqimin";
}

.aqi-wrap { grid-area: aqi-wrap; }

.aqimax { grid-area: aqimax; }

.aqimin { grid-area: aqimin; }

.aqimax, .aqimin {
    margin-top: 15px;
}

.aqi-wrap {
    margin-top: 25px;
}

.aqi {
    text-align: center;
}
.aqi-text {
    font-size: 72px;
    padding: 0 0 0 30px;
    margin: 0;
    line-height: 62px;
}


.status {
    padding-left: 35px;
}

.green {
    color: #01e400;
}
.yellow {
    color: #ffff00;
}
.orange {
    color:  #ff7e00;
}
.red {
    color: #ff0000;
}
.purple {
    color: #8f3f97;
}
.maroon {
    color: #7e0023;
}
.good {
    color: #01e400;
}
.moderate {
    color: #ffff00;
}
