.barometer-container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "barometer-wrap barometer-wrap"
    "barometermax barometermin";
}

.barometer-wrap { grid-area: barometer-wrap; }

.barometermax { grid-area: barometermax; }

.barometermin { grid-area: barometermin; }

.barometermax, .barometermin {
    margin-top: 40px;
}

.barometer-wrap {
    margin-top: 30px;
}

.barometer {
    text-align: center;
}
.barometer-text {
    font-size: 62px;
    padding: 0 0 0 35px;
    margin: 0;
    line-height: 62px;
}

.units {
    line-height: 14px;
    font-size: 14px;
}