.forecast-container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr 1fr .25fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "forecast-max"
    "forecast-icon"
    "forecast-min";
}

.forecast-icon { grid-area: forecast-icon; }

.forecast-max { grid-area: forecast-max; height: 25px; }

.forecast-min { grid-area: forecast-min; }
.forecast-icon img {
    width: 70px;
}
.forecast-wrap {
    display: inline-block;
    width: 75px;
    background-color: #151819;
    margin:15px 2.5px 0 2.5px;
    border-radius: 10px;
}

