#root {
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;

}

.title {
  text-align: left;
  font-size: 24px;
  line-height: 24px;
}

.last-update {
  line-height: 24px;
}
.update-time {
  color: orangered;
}

.header {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}


.tempmodulehome-50-10c {
  color: #8781bd;
}

.tempmodulehome-10-0c {
  color: #487ea9;
}

.tempmodulehome0-5c {
  color: #3b9cac;
}

.tempmodulehome5-10c {
  color: #9aba2f;
}

.tempmodulehome10-15c,
.tempmodulehome15-20c {
  color: #e6a141;
}

.tempmodulehome20-25c {
  color: #ec5a34;
}

.tempmodulehome25-30c {
  color: #d05f2d;
}

.tempmodulehome30-35c {
  color: #d65b4a;
}


.temphumcircle80-100 {
  color: #4e95a0;
}

.temphumcircle60-80 {
  color: #e6a141;
}

.temphumcircle35-60 {
  color: #90b12a;
}

.temphumcircle25-35 {
  color: #d05f2d;
}

.temphumcircle0-25 {
  color: #d35d4e;
}