
.lightning-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.7fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "laststrike laststrike laststrike"
    "lhour lday lyesterday"
    "lmonth lastd lyear";
}

.laststrike { grid-area: laststrike; }

.lhour { grid-area: lhour; }

.lday { grid-area: lday; }

.lyesterday { grid-area: lyesterday; }

.lmonth { grid-area: lmonth; }

.lyear { grid-area: lyear; }

.lastd { grid-area: lastd; }

.laststrike, .lyear, .lmonth, .lyesterday, .lday, .lhour, .lastd {
    font-size: 12px
}

.lightning-value {
    font-size: 36px;
    line-height: 36px;
}

.lightning-yellow {
    color: #daa520;
}