.tempin-container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "tempin tempin"
    "maxin minin";
}

.tempin { grid-area: tempin; margin-top: 40px; }

.maxin { grid-area: maxin; }

.minin { grid-area: minin; }

.maxin, .minin {
    margin-top: 35px;
}

.tempin {
    text-align: center;
}
.tempin-text {
    font-size: 72px;
    padding: 0 0 0 35px;
    margin: 0;
    line-height: 62px;
}