.temp-container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr .5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "icon icon"
    "temp temp"
    "max min";
}

.icon { grid-area: icon; }

.temp { grid-area: temp; margin-top: -10px; }

.max { grid-area: max; }

.min { grid-area: min; }


.min {
    text-align: right;
    padding-right: 5px;
}

.temp-container .temp-text {
    font-size: 72px;
    padding: 0 0 0 35px;
    margin: 0;
    line-height: 62px;
}

.max {
    text-align: left;
    padding-left: 5px;
}

.icon img {
    height: 75px;
    width: 75px;
}