.forecast-info .weather-icon img {
    height: 120px;
    width: 120px;
}

.forecast-info {
    text-align: center;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--card-bg);
    border-radius: 15px;
}

.left {
    padding: 0 10px
}
.right {
    margin-top: 40px;
}
.charts {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px auto;
}