.tempcolorminus10 {
    color: #3369e7;
}

.tempcolorminus5 {
    color: #3b9cac;
}

.tempcolorminus,
.tempcolorzero {
    color: #00a4b4;
}

.tempcolor0-5 {
    color: #00a4b4;
}

.tempcolor6-10 {
    color: #88b04b;
}

.tempcolor11-15 {
    color: #e6a141;
}

.tempcolor16-20 {
    color: #ff7c39;
}

.tempcolor21-25 {
    color: #efa80f;
}

.tempcolor26-30 {
    color: #d05f2d;
}

.tempcolor31-35 {
    color: #d86858;
}

.tempcolor36-40 {
    color: #fd7641;
}

.tempcolor41-45,
.tempcolor50 {
    color: #de2c52;
}


.tempmodulehome-50-10c {
    color: #8781bd;
}

.tempmodulehome-10-0c {
    color: #487ea9;
}

.tempmodulehome0-5c {
    color: #3b9cac;
}

.tempmodulehome5-10c {
    color: #9aba2f;
}

.tempmodulehome10-15c,
.tempmodulehome15-20c {
    color: #e6a141;
}

.tempmodulehome20-25c {
    color: #ec5a34;
}

.tempmodulehome25-30c {
    color: #d05f2d;
}

.tempmodulehome30-35c {
    color: #d65b4a;
}


.temphumcircle80-100 {
    color: #4e95a0;
}

.temphumcircle60-80 {
    color: #e6a141;
}

.temphumcircle35-60 {
    color: #90b12a;
}

.temphumcircle25-35 {
    color: #d05f2d;
}

.temphumcircle0-25 {
    color: #d35d4e;
}