{% extends 'base.html' %}
{% block content %}
   <body>
      <div id="root">
          <div class="header">
              <div class="title"><a href="/"><i class="fa-solid fa-house"></i></a> Lorson Ranch, Colorado Springs, CO</div>
          </div>
         <div class="pills">
             <a href="/almanac/{{sensor}}//1h">
                 <button class="{{ pill_selected("1h", timeframe)}}">1 Hour</button>
             </a>
             <a href="/almanac/{{sensor}}//6h">
                <button class="{{ pill_selected("6h", timeframe)}}">6 Hours</button>
             </a>
             <a href="/almanac/{{sensor}}//1d">
                <button class="{{ pill_selected("1d", timeframe)}}">1 Day</button>
             </a>
             <a href="/almanac/{{sensor}}//1m">
                <button class="{{ pill_selected("1m", timeframe)}}">1 Month</button>
             </a>
             <a href="/almanac/{{sensor}}//1y">
             <button class="{{ pill_selected("1y", timeframe)}}">1 Year</button>
             </a>
             <a href="/almanac/{{sensor}}//at">
                <button class="{{ pill_selected("at", timeframe)}}">All Time</button>
             </a>
          </div>
        <div id="main" style="width: 1100px; height: 500px;"></div>
      </div>
   <script>
      var chartDom = document.getElementById('main');
      console.log(chartDom);
      var myChart = echarts.init(chartDom);
      var option = {
      darkMode: true,
      backgroundColor: "#151819",
      title: {
         text: "{{ chart['chartTitle'] }}",
         textStyle: {
            color: 'white'
         }
      },
      tooltip: {
         trigger: 'axis'
      },
      legend: {
         data: {{ chart['titles']|safe }},
         textStyle: {
            color: 'white'
         }
      },
      grid: {
         left: '3%',
         right: '4%',
         bottom: '3%',
         containLabel: true
      },
      toolbox: {
         feature: {
            saveAsImage: {}
         }
      },
      xAxis: {
         type: 'category',
         boundaryGap: false,
         data: {{ chart['xaxis']|safe }},
         axisLabel: {
            textStyle: {
                color: 'white'
            }
        },
      },
      yAxis: {
         type: 'value',
         min: -20,
         max: 100,
         axisLabel: {
            textStyle: {
                color: 'white'
            }
        },
      },
      series: {{ chart['yaxis']|safe }},
      };
      console.log(option);
      myChart.setOption(option);

   </script>
   </body>
{% endblock %}