.wind-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.3fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "current current current"
    "bft maxgust windrun";
}

.bft { grid-area: bft; }

.maxgust { grid-area: maxgust; }

.windrun { grid-area: windrun; }

.current { grid-area: current; }

.bft, .maxgust, .windrun {
    padding-top: 20px;
    font-size: 10px;
}

.bft {

}

.bft svg {
    vertical-align:middle
}
.arrow {
    margin-top: -10px;
    font-family: weathericon;
    font-size: 48px;
}
.current-wind {
    font-size: 16px
}
.conditions {
    display: flex;
    justify-content: space-evenly;
}

.bfttxt {
    font-size: .55rem;
}

.beaufort1-3 {
    color: #90b12a
}

.beaufort3-4 {
    color: #e6a141
}

.beaufort4-5 {
    color: #ff7c39
}

.beaufort6 {
    color: #d35d4e
}
.windunitidspeed {
    color: #ff7c39;
}
.current, .gusts {
    font-size: 18px;
}   