MQTT_BROKER=tcp://127.0.0.1:1883
MQTT_CLIENT_ID=weather-stats
MQTT_USERNAME=user
MQTT_PASSWORD=pass
MQTT_TOPIC=ambient/#
MQTT_STATS_SUBSCRIBE=weather/stats
STATION_MAC=WS-5000
DATABASE_URL=postgres://user:pass@IP_ADDRESS:5432/database?sslmode=disable
SNAPSHOT_INTERVAL=60s
ELEVATION=<ELEVATION_IN_METERS>
GO_ENV=test
ALERT_CRON=*/15 * * * *
FORECAST_CRON=0 */4 * * *
CONDITIONS_CRON=*/15 * * * *
STATION_ID=KCOS
LAT=LAT
LON=LON
WEATHER_API=API_KEY